<body>
  
  <div class='container'>
    
    <h1>404</h1>
    <h2>Page Not Found <br>
        You are on the wrong path</h2>
  </div>

  <a href="/" class='btn'>  &#9756; Home </a>
</body>

<style>

body{
  margin: 0;
  padding: 0;
  background: #0086e6;
}
.container{
  width: 500px;
  margin: 20px auto 0;
/*  background: lightgreen; */

}
a{
  width: 120px;
  background: #008080;
  color: white;
  font-weight: bolder !important;
  font-size: 20px !important;
  text-align: center;
  text-decoration: none;
  margin: 20px 630px !important;
}
h2{
  color: white;
  text-align: center;
  font-size: 26px;
  font-weight: bolder;
}
.imgContainer{
/*  background: gray; */
  width: 500px;
  margin: 10px auto;
}
img{
  display: block;
  margin: 0 auto;
  padding: 5px;
  /*box-shadow: 0px 0px 60px #002d4d;*/
  text-shadow: 2px 2px 35px #FF0000;
}
.msg{
/*  background: #1a9fff; */
  width: 700px;
  height: 100px;
  margin: 30px auto;
  padding: 5px 25px;
  color: white;
  font-size: 28px;
  font-weight: bolder;
  text-align: center
}
h1{
  text-align: center;
  margin: 30px 0px;
  color: gray;
  font-weight: bold;
  font-size: 148px;
  text-shadow: 2px 2px 35px #0B5F7A;
}

</style>