<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BookMyShow</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a onclick="document.getElementById('id01').style.display='block'" style="width:auto;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a  onclick="document.getElementById('id02').style.display='block'" style="width:auto;"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>      
    </ul>
  </div>
</nav>


<style>
	.navbar{
		border-radius: 0px;
	}
</style>