<body>
	
	<div class='container'>
		<h2>successfull</h2>
	</div>
	<div class="imgContainer">
		<img src="images/200.png" alt="Not Found">
	</div>
	<div class='msg'>
		<p><%=msg%></p>
	</div>
  <a href="/" class='btn'>  &#9756; Home </a>
</body>

<style>

body{
	margin: 0;
	padding: 0;
	background: #0086e6;
}
.container{
	width: 500px;
	margin: 20px auto 0;
/* 	background: lightgreen; */
}
h2{
	color: white;
	text-align: center;
	font-size: 22px;
	font-weight: bolder;
}
a{
  width: 120px;
  background: #008080;
  color: white;
  font-weight: bolder !important;
  font-size: 20px !important;
  text-align: center;
  text-decoration: none;
  margin: 20px 630px !important;
}
.imgContainer{
/* 	background: gray; */
	width: 500px;
	margin: 10px auto;
}
img{
	display: block;
  margin: 0 auto;
	padding: 5px;
	/*box-shadow: 0px 0px 60px #002d4d;*/
}
.msg{
/* 	background: #1a9fff; */
	width: 700px;
	height: 100px;
	margin: 30px auto;
	padding: 5px 25px;
	color: white;
	font-size: 28px;
	font-weight: bolder;
	text-align: center
}

</style>